{% load static %}
<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>Eliminar Rol</title>
            <link rel="stylesheet" href="{% static 'rol_crear.css' %}">
            <link rel="shortcut icon" href="{% static 'logo.png' %}">
            <script defer src="{% static 'delete_rol.js' %}"></script>
        </head>
        <body>
            <section class="form-delete_rol">
              <h5>Eliminar rol</h5>
              <form>
                <select name="rol" onchange="habilitar(this.options[this.selectedIndex].value)">
                    <option selected value = 0 class='op' >Elige una opción</option> 
                    {% for rol in lista_roles %}
                        <option value={{ rol.0 }}>{{ rol.1 }}</option> 
                    {% endfor %}              
                </select>
                <br><br>
                <input class="buttons" style="margin-top: 37%;" type="button" onclick="window.location='/seguridad';" name="" value="CANCELAR">
                <input class="buttons" id = "eliminar" disabled=true type="button" name="" value="ELIMINAR">
               </form> 
            </section>

    </body>
</html>