{% load static %}
<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>Eliminar User Story</title>
            <link rel="stylesheet" href="{% static 'registrar.css' %}">
            <link rel="shortcut icon" href="{% static 'logo.png' %}">
            <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        </head>
        <body>        
            <section class="form-home" style="height: 400px;">
                <h5>Eliminar User Story</h5>
                <form id="buscar_us" methon="GET" autocomplete="off">
                    <select id="lista_us" class="input_txt" style="height: 40px;" id="sel">
                        <option selected="true" disabled>Elige una opción</option> 
                        <option value="1">US-1</option>
                    </select>
                    <input class="buttons" type="submit" name="" value="SELECCIONAR">
                </form>
                <form id="/del_us" methon="GET" autocomplete="off">
                    <h4 style="display: none; text-align: center;" id="label1">Datos User Story</h4>
                    <label class="input_txt" id="txt_nombre" style="display: none; color:black; background-color: white; height: 37.5px;">Nombre</label>
                    <label class="input_txt" id="value_nombre" style="display: none; color:black; height: 37.5px;"></label>
                    <input class="buttons" id="e" type="button" onclick="window.location='/backlog';" name="" value="CANCELAR">
                    <input class="buttons" id="f" style="display: none;" type="submit" name="" value="ELIMINAR">
                    <input class="input_txt" type="hidden" name="id_us" id="us">
                </form>
             </section> 
            <script>
                $("#f").on('click', function(e){
                    e.preventDefault();
                    var formulario = $(this).parents('form');
                    swal(
                        "¿Desea eliminar el User Story?", 
                        {
                            buttons: true
                        }
                    ).then(okay => { 
                        if (okay) {
                            formulario.submit();
                        }else{
                            return false;
                        }
                    });
                });

                $(document).on("change","select",function(){
                    $("option[value=" + this.value + "]", this)
                    .attr("selected", true).siblings()
                    .removeAttr("selected")
                });
                
                $(document).ready(function(){
                    $("#buscar_us").submit(function(e){
                        e.preventDefault();
                        var us_value = document.getElementById("lista_us")  
                        $.ajax({
                            type: 'GET',
                            data: { "id_us": us_value.options[us_value.selectedIndex].value },                     
                            success:function(data) {
                                document.getElementById("label1").style.display="block";
                                document.getElementById("txt_nombre").style.display="block";
                                document.getElementById("value_nombre").style.display="block";
                                document.getElementById("e").style.display="block";
                                document.getElementById("e").style.float="left";
                                document.getElementById("e").style.marginTop="18%";
                                document.getElementById("f").style.display="block";
                                document.getElementById("f").style.float="left";
                                document.getElementById("f").style.marginTop="18%";
                                
                                
                                document.getElementById("value_nombre").disabled = false;
                                document.getElementById("value_nombre").innerHTML = data.nombre;
                                document.getElementById("value_nombre").disabled = true;
                                document.getElementById("us").value = data.id_us
                                ;
                            },
                            
                            error: function() {
                            }
                         });
                    }); 
                });                            
            </script>    

        </body>    

    </html>
    