{% load static %}
<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>REJA Software - Inicia sesión</title>
            <link rel="stylesheet" href="{% static 'home.css' %}">
            <!--CSS DEL POP UP (cuadro de mensaje)-->
            <link rel="stylesheet" href="{% static 'cuadro_mensaje.css' %}">
        </head>
        <body>
            <section class="form-home">
              <h5>BIENVENID@ {{user.upper}} </h5>
              <form action>
                <input class="buttons" type="button" name="" value="Seguridad"> 
                <br><br><br>
                <input class="buttons" type="button" name="" value="Proyecto">
                <br><br><br>
                <input class="buttons" type="button" name="" value="Desarrollo">
               </form> 
            </section>


            

    </body>
</html>