{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Iniciar Sprint</title>
        <link rel="shortcut icon" href="{% static 'logo.png' %}">
        <link rel="stylesheet" href="{% static 'registrar.css' %}">
        <script defer src="{% static 'iniciar_sprint.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>  

    </head>
    <style>
        .input_txt2 {
            width: 100%;
            border: 1px solid black;
            margin: 5px;
            padding: 11px;
            background: #a8a4a4;
            font-size: 13px;
            float: left;
        }
    </style>
    
    <body>        
        <section class="form-home" style="height: 500px;">
            <h5>INICIAR SPRINT</h5>
            <h4>Datos del Sprint</h4>
            Nombre <br>
            <input class="input_txt2" name="nombre"value= {{nombre.upper}} placeholder= {{nombre.upper}}><br>
            <form action="/ini_sprint" method="GET" autocomplete="off">
                <select class="input_txt2" onchange="habilitar(this.options[this.selectedIndex].value)">
                    <option selected disabled> Elegir duracion del sprint</option>                     
                    <option value = 0 >Personalizado</option>                     
                    <option value = 1 >1 semana</option> 
                    <option value = 2 >2 semanas</option> 
                    <option value = 3 >3 semanas</option> 
                    <option value = 4 >4 semanas</option> 
                </select>
            
                <form class = "fechas" id="reset_form">  
                    <br><br><br><p>Fecha Inicio</p>
                    <input class="input_txt2" id="fecha1" type="date" name="fecha_inicio" value= "" maxlength="30" disabled required >
                    <br>
                    <p>Fecha Fin</p>
                    <input class="input_txt2"  id="fecha2" type="date" name="fecha_fin" value="" maxlength="30" disabled required>
                    
                </form>
                <input class="buttons" type="button" style="float: left;" onclick="window.location='/sprint';" name="" value="CANCELAR">
                <input class="buttons" id="bt_guardar" type="submit"  name="" value="GUARDAR">
            </form>
        </section> 
        
        <script>
   
            $("#bt_guardar").on('click', function(e){
                e.preventDefault();
                var id_sprint = $(this).parents("tr")[0];
                $.ajax({
                    type: 'GET',
                    url: "/ini_sprint",
                    data: { 'id_sprint' : id_sprint },
                    success:function(data) {
                        
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        swal(
                            xhr.responseJSON["mensaje"]
                        );
                    }
                });
            });   
            
        
        </script>
    </body>

</html>

