{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Modificar usuario</title>
        <link rel="stylesheet" href="{% static 'registrar.css' %}">
        <link rel="stylesheet" href="{% static 'cuadro_mensaje.css' %}">
        <link rel="shortcut icon" href="{% static 'logo.png' %}">
        <link rel="stylesheet" href="{% static 'check.css' %}">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script defer src="{% static 'check.js' %}"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#test").CreateMultiCheckBox({ width: '260px',
                    defaultText : 'Selecciona el/los rol/es', height:'100px'});
            });
        </script>
    </head>
    <section class="form-home" style="height: 500px;">
        <h5>Modificar usuario</h5>
        <form id="buscar_usuario" method="GET" autocomplete="off">
            <input class="input_txt" type="text" name="username" id="user" value="" placeholder="Escriba aquí el username" maxlength="15" required>
            <input class="buttons" type="submit" name="" value="BUSCAR">
        </form>
        <h4>1) Datos Personales</h4>
        <form method="GET" action="/mod_user" autocomplete="off">
            <input class="input_txt" type="text" id="1st_name" name="p_nombre" placeholder="Primer nombre" maxlength="50" disabled required>
            <input class="input_txt" type="text" id="2nd_name" name="s_nombre" placeholder="Segundo nombre" maxlength="50" disabled>
            <input class="input_txt" type="text" id="1er_ape" name="p_apellido" placeholder="Primer apellido" maxlength="50" disabled required>
            <input class="input_txt" type="text" id="2do_ape" name="s_apellido" placeholder="Segundo apellido" maxlength="50" disabled>
            <label class="input_txt" style="color:black; height: 37.5px;">Fecha de nacimiento:</label>
            <input class="input_txt" type="date" name="fec_nacimiento" id="fec" disabled required>

            <input class="input_txt" type="email" id="email" name="correo" placeholder="Correo Electrónico" maxlength="100" disabled required>
            <input class="input_txt" type="password" id="pass" name="password" placeholder="Nueva constraseña" maxlength="15" disabled required>

            <label class="input_txt" style="color:black; height: 37.5px;">Rol/es del usuario:</label>
            <select id="test">
                {% for rol in lista_roles %}
                    <option selected="false" value={{ rol.0 }}>{{ rol.1 }}</option> 
                {% endfor %}
            </select>

            <input class="buttons" style="float: left; margin-top: 16.2px;" type="button" onclick="window.location='/seguridad';" name="" value="CANCELAR">
            <input class="buttons" id="bt_modificar" style="float: right;" type="submit" name="" value="MODIFICAR">
            <input class="input_txt" type="hidden" name="username2" id="user2">
        </form>
        
    </section>
    <body>
        <script>
            $("#bt_modificar").on('click', function(e){
                e.preventDefault();
                var formulario = $(this).parents('form');
                swal(
                    "¿Desea guardar el usuario?", 
                    {
                        buttons: true
                    }
                ).then(okay => { 
                    if (okay) {
                        formulario.submit();
                    }else{
                        return false;
                    }
                });
            });

            $(document).ready(function(){
                $("#buscar_usuario").submit(function(e){
                    e.preventDefault();
                    $.ajax({
                        type: 'GET',
                        url: "/obtener_usuario/",
                        data: $(this).serialize(),
                        success:function(data) {
                            document.getElementById("1st_name").disabled = false;
                            document.getElementById("1st_name").value = data.p_nombre
                            document.getElementById("2nd_name").disabled = false;
                            document.getElementById("2nd_name").value = data.s_nombre;
                            document.getElementById("1er_ape").disabled = false;
                            document.getElementById("1er_ape").value = data.p_apellido;
                            document.getElementById("2do_ape").disabled = false;
                            document.getElementById("2do_ape").value = data.s_apellido;
                            document.getElementById("fec").disabled = false;
                            document.getElementById("fec").value = data.nacimiento;
                            document.getElementById("email").disabled = false;
                            document.getElementById("email").value = data.correo;
                            document.getElementById("pass").disabled = false;
                            document.getElementById("pass").value = data.pass;
                            document.getElementById("user2").value = data.username;
                            //TODO opcion no marca
                            //document.querySelectorAll('option[value="1"]')[0].selected="true"
                            document.querySelectorAll('option[value="1"]')[0].attributes[0].value = "true";
                            console.log(document.querySelectorAll('option[value="1"]')[0].attributes[0]);
                        },
                        error: function() {
                            window.alert("NO EXISTE EL USUARIO");
                            window.location.reload();
                        }
                    });
                });
            });

        </script>
    </body>
</html>