{% load static %}
<!DOCTYPE html>
<html lang="es" style="background-color: gray;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Modificar US</title>
        <link rel="stylesheet" href="{% static 'cuadro_mensaje.css' %}">
        <link rel="stylesheet" href="{% static 'modificar_us.css' %}">
        <link rel="shortcut icon" href="{% static 'logo.png' %}">
        <link rel="stylesheet" href="{% static 'check.css' %}">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>

    <body>        
        <section class="form-home">
            <h5>Modificar US</h5>
            <form method="GET" autocomplete="off">
                <input class="input_txt2" type="text" name="us_nombre" value="" placeholder="Nombre" maxlength="30" required>
                <input class="input_txt2" type="text" name="us_desc" value="" placeholder="Descripción" maxlength="50">
                <label>_____________________________________________________________</label>
                <br><br>
                <label>Responsable:</label>
                <br>
                <select id="lista_users" class="input_txt" style="height: 42px;">
                    <option value="" selected="selected">Olivia</option>
                </select>
                <br><br><br>
                <label>Estado:</label>
                <br>
                <select id="lista_estados" class="input_txt" style="height: 42px;">
                    <option value="" selected="selected">To Do</option>
                    <option value="">Doing</option>
                    <option value="">Done</option>
                </select>
                <br><br><br><br><br>
                <input class="buttons" type="button" style="float: left;" onclick="window.location='/proyects';" name="" value="CANCELAR">
                <input class="buttons" id="bt_registrar" disabled=true type="button" style="float: right;" name="" value="MODIFICAR">
            </form>
        </section>
        
    </body>
</html>