{% extends 'base.html' %}
{% load static %}

{% block title%} REJA. Bienvenid@!!! {% endblock %}

{% block head%}
    <link rel="stylesheet" href="{% static 'proyectos.css' %}"> 
{% endblock %}

{% block body%}
    <form action="/working">
        <input class= "boton" type="submit" name="" value="CREAR PROYECTO">
    </form>
    <div style="background-color: #dbdbdb;
                width: 1000px;
                height: 500px;
                position: relative;
                top: 50%;
                text-align: center;
                line-height: 500px;
                left: 10px;
                z-index: 0;">
        NO HAY PROYECTOS GUARDADOS
    </div>
{% endblock %}