{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Registrar usuario en REJA</title>
        <link rel="stylesheet" href="{% static 'cuadro_mensaje.css' %}">
        <link rel="stylesheet" href="{% static 'registrar.css' %}">
        <link rel="shortcut icon" href="{% static 'logo.png' %}">
        <link rel="stylesheet" href="{% static 'check.css' %}">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script defer src="{% static 'check.js' %}"></script>
        <script>
            $(document).ready(function () {
                $("#roles").CreateMultiCheckBox({ width: '260px',
                    defaultText : 'Selecciona el/los rol/es', height:'100px'});
            });
        </script>
    </head>
    <section class="form-home" style="height: 500px;">
        <h5>Crea un usuario</h5>
        <h4>1) Datos del Usuario</h4>
        <form action="/reg_user" method="GET" autocomplete="off">
            <input class="input_txt" type="text" name="p_nombre" value="" placeholder="Primer nombre" maxlength="50" required>
            <input class="input_txt" type="text" name="s_nombre" value="" placeholder="Segundo nombre" maxlength="50">
            <input class="input_txt" type="text" name="p_apellido" value="" placeholder="Primer apellido" maxlength="50" required>
            <input class="input_txt" type="text" name="s_apellido" value="" placeholder="Segundo apellido" maxlength="50">
            <label class="input_txt" style="color:black; height: 37.5px;">Fecha de nacimiento:</label>
            <input class="input_txt" type="date" name="fec_nacimiento" value="" required>
            <input class="input_txt" type="text" name="username" value="" placeholder="Username" maxlength="15" required>
            <input class="input_txt" type="email" name="correo" value="" placeholder="Correo Electrónico" maxlength="100" required>

            <label class="input_txt" style="color:black; height: 37.5px;">Rol/es del usuario:</label>

            <select id="roles" name="roles_usuario">
                {% for rol in lista_roles %}
                    <option selected="false" value={{ rol.0 }}>{{ rol.1 }}</option> 
                {% endfor %}
            </select>

            <input class="input_txt" style="margin-top: 10.5px;" name="password" type="password" value="" placeholder="Constraseña" maxlength="15" required>
            <input class="input_txt" type="password" value="" name="password_rep" placeholder="Repetir constraseña" maxlength="15" required>

            <input class="buttons" type="button" style="float: left;" onclick="window.location='/seguridad';" name="" value="CANCELAR">
            <input class="buttons" id="btn" type="button" style="float: right;" name="" value="REGISTRAR">
            <input class="buttons" id="bt_registrar" type="submit" style="float: right; visibility:hidden" name="" value="REGISTRAR">
        </form>
    </section>
    <body>
        <!-- CUADRO DE ERROR CON MENSAJE-->
        <div class="fondo_transparente" id = "fondo">
            <div class="modal">
                <div class="modal_titulo">
                    {{ titulo }}<br>
                </div>

                <div class="modal_mensaje">
                    {% for error in errors %}
                        {% if forloop.first %}
                            <br>{{ error }}
                        {% else %}
                            <br><br>{{ error }}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- TODO -->
                <div class="modal_botones" >
                    <a href="/signup" class="boton">VOLVER A INTENTARLO</a>
                </div>
            </div>
        </div> 
        
        {% if errors|length > 0 %}
            <script type="text/javascript">
                setTimeout("mostrarError()", 0);
            </script>
        {% endif %}

        <script>
            function mostrarError(){
                var estilo = document.getElementById("fondo");
                estilo.style.display="block";
            }
        </script>
        <!-- FIN CUADRIO DE ERROR -->
        <script>
            $('#btn').on('click', function(e) {
                e.preventDefault();
                var roles_seleccionados = [];
                $("#roles option:selected").each(function() {
                    roles_seleccionados.push($(this).val());
                });
                $.ajax({
                        type: 'GET',
                        url: "/guardar_roles_selected",
                        traditional: true,
                        data: { 'rol_select' : roles_seleccionados},
                        success:function(data) {
                            $("#bt_registrar").click();
                        },
                        error: function(xhr, status, error) {
                            window.location.reload();
                        }
                    });
            });
            
        </script>
    </body>
</html>